.header-container {
    display: flex;
    height: 60px;
    margin: 0;
    min-width: 0;
    text-align: center;
    border-style: none none solid none;
    /*border-color: rgb(226, 226, 226);*/
    border-color: #d0c9f7;
    overflow: hidden;
}

.logo-container {
    flex: 0 1 5%;
    width: 100px;
    cursor: pointer;
}

.right-container {
    display: flex;
    flex: 0 0 95%;
    /*background-color: #F6F6F8;*/
    background-color: #eae7fc;
    justify-content: space-between;
    align-items: center;
    font-family: 'IBM Plex Serif', serif;
    padding: 20px;
    font-size: 17px;
    /*color: gray;*/
    color: #8e7fdf;
}

.shows-books-films {
    margin-right: 15px;
}


