.label {
    font-size: 0px;
    display: flex;
    flex-direction: column;
}

.inner-label {
    align-items: center;
    display: flex;
    margin: 20px 20px 0px 95px;
    height: 35px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 15px;
}

.grid-inner-label {
    align-items: center;
    display: flex;
    margin: 20px 20px 0px 75px;
    height: 35px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 15px;
}

.device-number {
    flex: 0 1 10.5%;
    padding-left: 3vw;
    color: rgb(199, 199, 199);
}

.media-type-label {
    flex: 0 1 24.3%;
    font-weight: bold;
}

.name-label {
    flex: 0 1 30%;
    font-weight: bold;
}

.list-label-hr {
    width: 92.8%;
    margin-left: 80px;
}