.single-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 795px;
    overflow: hidden;
    gap: 70px;
}

.single-item-image {
    width: 250px;
    height: auto;
}